<section class="admin-products-index">

  <header class="page-header">
      <h1>Admin &raquo; All Categories</h1>
  </header>  
      
  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created at</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @categories[0].name %>
          </td>
          <td>
           <%= @categories[0].created_at %>
          </td>
          <td>
            <%= @categories[0].updated_at %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>




</section>

