<div class="jumbotron">
  <h1>Welcome to Jungle, <br> where we bring you the latest and greatest products at the right price</h1>
  <p>
  Consectetur adipiscing elit. Mauris ultrices, arcu in tempus congue, nibh est cursus lorem, non blandit metus nisl et ex. In scelerisque ante at eleifend pulvinar. Etiam sagittis eleifend arcu eget sagittis. Nunc ut neque leo. Etiam auctor nisi eget nulla feugiat, at dignissim massa lobortis. Aenean interdum tellus magna, cursus congue tellus ullamcorper id. In vestibulum odio est, nec interdum leo laoreet sed. Morbi nulla arcu, semper a est condimentum.
  </p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Explore Our Store</a></p>
</div>
