<div class="jumbotron">
  <h1>Welcome to Jungle!</h1>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices, arcu in tempus congue, nibh est cursus lorem, non blandit metus nisl et ex. In scelerisque ante at eleifend pulvinar. Etiam sagittis eleifend arcu eget sagittis. Nunc ut neque leo. Etiam auctor nisi eget nulla feugiat, at dignissim massa lobortis. Aenean interdum tellus magna, cursus congue tellus ullamcorper id. In vestibulum odio est, nec interdum leo laoreet sed. Morbi nulla arcu, semper a est condimentum, sodales ultrices augue. Etiam pharetra sodales elit at malesuada.
  </p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Shop now</a></p>
</div>
