<div class="jumbotron">
  <h1>Welcome to Jungle, <br> where you'll find the <em>latest</em> and <em>greatest</em> products at the right price</h1>
  <p>
  Jungle was founded in 1999, at the dawn of the internet. We’ve come a long way, so we know exactly which direction to take when supplying you with high quality yet budget-friendly products. We offer all of this while providing excellent customer service and friendly support.
  We always keep an eye on the latest trends and put our customers’ wishes first.
  </p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Explore Our Store</a></p>
</div>
