<div class="jumbotron">
  <h1 class="display-4">Welcome to Jungle!</h1>
  <p class="lead">Where you'll find the <em>latest</em> and <em>greatest</em> products at the right price.</p>
  <hr class="my-4">
  <p>Jungle was founded in 1999, at the dawn of the internet. We’ve come a long way, so we know exactly which direction to take when supplying you with high quality yet budget-friendly products. We offer all of this while providing excellent customer service and friendly support.
  We always keep an eye on the latest trends and put our customers’ wishes first.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Explore the Jungle</a>
  </p>
</div>